#container{
	height: 100%;
	width:100%;
}
#text{
	display: none;
	text-align:center;
	font-size:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
}
#welcome{
	font-size:50px;
}
#lion{
	height:25%;
	position:absolute;
	left:0;
	top:0;
}
#seal{
	height:25%;
	position:absolute;
	left:0;
	bottom:0;
}
#wolf{
	height:25%;
	position:absolute;
	right:0;
	bottom:0;
}
#monkey{
	height:25%;
	position:absolute;
	right:0;
	top:0;
}